* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --darkGreenColor: rgb(2, 68, 2);
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Commissioner', sans-serif;}

.active {
    background-color: var(--darkGreenColor);
    color: white;
}

nav {
    width: 100vw;
    background-color: darkgreen;
    color: white;
}

nav ul {
    width: 60vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    font-size: 2rem;
    padding: 2rem 3rem;
    /* border: violet 1px solid; */
}

.cuties {
    width: 100vw;
    height: 80vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cuties > img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.cuties > h1 {
    z-index: 2;
    color: white;
    width: 80%;
}

.cuties > p {
    z-index: 2;
    font-size: 1.5rem;
    color: white;
    width: 80%;
}